@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3 style="color: orange">@ViewBag.Romina Cotan</h3>

<p>Use this area to provide additional information.</p>
<style>
    td{
        border:1px solid #ddd;
    }
</style>
<table>
    <tbody>
        <tr>
            <td>1st row</td>
            <td>1st row</td>
            <td>1st row</td>
        </tr>
        <tr>
            <td>2nd row</td>
            <td>2nd row</td>
            <td>2nd row</td>
        </tr>
        <tr>
            <td>3rd row</td>
            <td>3rd row</td>
            <td>3rd row</td>
        </tr>
    </tbody>
</table>

<div style="text-align: justify">
    Model–view–controller (MVC) is a software design pattern for implementing user interfaces on computers. It divides a given software application into three interconnected parts, so as to separate internal representations of information from the ways that information is presented to or accepted from the user.
</div>